apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix-synapse
  namespace: matrix
spec:
  interval: 10m
  chart:
    spec:
      chart: matrix-synapse
      version: "3.9.7"
      sourceRef:
        kind: HelmRepository
        name: ananace-charts
        namespace: flux-system
  values:
    serverName: sovereign.local
    publicServerName: matrix.sovereign.local
    wellknown:
      enabled: true
    postgresql:
      enabled: true
      auth:
        database: synapse
        username: synapse
    persistence:
      enabled: true
      size: 10Gi
    ingress:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
    signingkey:
      job:
        enabled: true
